<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="fr.bamlab.fetch-ios"
        version="0.1.0">

  <name>FetchPlugin</name>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="FetchPlugin">
        <param name="ios-package" value="FPFetchPlugin" />
      </feature>
    </config-file>

    <header-file src="src/ios/FPFetchPlugin.h"/>
    <source-file src="src/ios/FPFetchPlugin.m"/>
    <header-file src="src/ios/NSData+Base64.h"/>
    <source-file src="src/ios/NSData+Base64.m"/>
  </platform>

</plugin>